.main {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 9fr;
  min-width: 100vh;
}

.map {
  position: relative;
  height: 90vh;
}

.sidebar {
  position: relative;
  background-color: wheat;
  height: 90vh;
}
